 rofi.lines:                          1
 rofi.location:                       1
 rofi.width:                          350
 rofi.yoffset:                        26
 rofi.padding:                        20
 rofi.opacity:                        100
 rofi.line-margin:                    15
 rofi.terminal:			      termite
 rofi.run-command:                    {cmd}
 rofi.hide-scrollbar:                 true
 rofi.separator-style:                solid
 rofi.font:                           xos4 Terminess Powerline 15
! ------------------------------------------------------------------------------
 rofi.color-enabled:                   true

! !                  bg       border   separator
 rofi.color-window: #383c4a, #383c4a, #00b3ff

! !                  bg       fg       bg-alt   hl-bg    hl-fg
 rofi.color-normal: #383c4a, #9da7b3, #383c4a, #2e333d, #5395e0
 rofi.color-active: #d79921, #282828, #d79921, #fabd2f, #282828
 rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, #282828
