VteTerminal, vte-terminal {
	    padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
}
/*@import url("resource:///org/numixproject/gtk/dist/gtk.css");*/
/*
 * Material Palenight scheme
 * by Nate Peterson
 *
 * GTK 3.0 template 
 * by Jonn Mostovoy - https://github.com/manpages
 *
 * Generated
 * by base16-builder - https://github.com/base16-builder/base16-builder
 */

@define-color theme_base_color #292D3E;
@define-color theme_fg_color #8796B0;
@define-color theme_active_color #32374D;
@define-color theme_insensitive_color #8796B0;
@define-color theme_insensitive_bg #292D3E;

@define-color theme_cursor_color #82AAFF;

/* fallback mode */
@define-color os_chrome_bg_color #292D3E;
@define-color os_chrome_fg_color #8796B0;
@define-color os_chrome_selected_bg_color #959DCB;
@define-color os_chrome_selected_fg_color #32374D;

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #82AAFF;
    -GtkIMHtml-hyperlink-visited-color: #C792EA;
    -GtkIMHtml-hyperlink-prelight-color: #FFFFFF;

    /* Evolution */
    -GtkHTML-link-color: #82AAFF;
    -GtkHTML-vlink-color: #C792EA;
    -GtkHTML-cite-color: #C3E88D;

    -GtkWidget-link-color: #82AAFF;
    -GtkWidget-visited-link-color: #C792EA;
}

@import url("resource:///org/gnome/HighContrastInverse/a11y.css");

